@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-button {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 38px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #000000;
  }
  ::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 7px;
  }
  ::-webkit-scrollbar-track:hover {
    background: #666666;
  }
  ::-webkit-scrollbar-track:active {
    background: #333333;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
//

$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
$DarkGray: hsl(0, 0%, 55%);
$VeryDarkGray: hsl(0, 0%, 41%);

//

@mixin Setposition($p,$ys,$xs) {
  position: $p;
  top : $ys;
  left : $xs;
}

@mixin display($d,$a,$j){
  display: flex;
  flex-direction: $d;
  align-items: $a;
  justify-content: $j;
}

@mixin Alata {
  font-family: 'Alata', sans-serif;
  font-weight: 400;
}

@mixin  Josefin {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

@mixin  font($s,$c) {
  font-size: $s;
  color : $c;
}

@mixin before {
  position: relative;
  &::before{
    position: absolute;
    content: '';
    bottom: -45%;
    left: 50%;
    min-width: 0%;
    height: 3px;
    transition: .3s all ease-in-out;
    transform-origin: right;
    border-radius: 9in;
    background-color: $White;
  }
}


// 

.atrribution_div{width: 100vw; position: fixed; bottom: 2vw; left : 10px; color: red;z-index: 2000000000000000;}
.attribution { font-size: 1rem;font-weight: bold; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

// 
html{
  overflow-x: hidden;
}


*{
  box-sizing: border-box;
  margin: 0; padding: 0;
}
body{
  @include Setposition(relative,0,0);
  font-size: 15px;
  width: 100%;
  max-width: 1920px;
  overflow-x: hidden
}

// 

.design{
  @include Setposition(absolute, 0, 0);
  z-index: 2000000000000000000000000000;
  opacity: 0.6;
  display: none;
}

// 

header{
  @include Setposition(relative, 0, 0);
  @include display(column, center, flex-start);
  width: 100%;
  height: 40.5rem;
  .hero_img{
    @include Setposition(absolute, 0, 0);
    width: 100%;
    height: 100%;
    max-width: 1920px;
  }
  .nav{
    @include display(row, center, space-between);
    width: 100%;
    padding: 4.5vw 11.5vw;
    max-width: 1800px;
    .nav_logo{
      z-index: 2;
      width: 12rem;
    }
    .nav_options{
      @include display(row, center, flex-end);
      z-index: 2;
      .nav_option{
        @include before();
        @include Alata();
        @include font(1rem, $White);
        margin: 0 .9rem .9rem;
        transition: .3s all ease-in-out;
        &:nth-child(5){
          margin-right: 0;
        }
        &:hover{
          &::before{
            left: 25%;
            min-width: 50%;
          }
        }
      }
    }
    .nav_humb{
      display: none
    }
  }
  .title{
    @include Setposition(absolute,  15.5vw,  11.5vw);
    width: 40.9rem;
    height: 17.5rem;
    border: 3px solid $White;
    padding: 2.4rem 2.5rem;
    .title_h{
      @include Josefin();
      @include font(4.5rem, $White)
    }
  }
}

@media only screen and (max-width: 1200px){
  header{height: 50vw;
    .nav{padding: 5vw 5vw;}
    .title{@include Setposition(absolute,  15.5vw,  5vw);}}
}
@media only screen and (max-width: 1050px){
  header{height: 65vw;
    .title{width: 60vw;height: auto;padding: 4vw 4vw;
      .title_h{@include font(6.5vw, $White)}}}
}
@media only screen and (max-width: 850px){
  header{
    .nav{
      .nav_humb{display: block;width: 1.8rem;height: 1.2rem;z-index: 1;}
      .nav_options{@include Setposition(fixed, 0, -100vw);@include display(column, flex-start,center);z-index: 2;width: 100%;height: 100%;background-color: $Black;padding: 0vw 5vw;
        .nav_option{@include Josefin();@include font(3rem, $DarkGray);margin: 1rem 0rem;text-transform: uppercase;
          &::before{left: 0;bottom: -15%;}
          &:hover{
            &::before{left: 0%;min-width: 50%;}}}}}
    .title{width: 90vw;padding: 4.5vw;
      .title_h{@include font(8vw, $White)}}}
}
@media only screen and (max-width: 700px){
  header{width: 100%;height: 200vw;max-height: 1200px;padding-top: 8vw;   
    &::before{content: '';@include Setposition(absolute, 0, 0);width: 100%;height: 100%;background-image: url("/images/mobile/image-hero.jpg");background-position: center;background-size: cover;background-repeat: no-repeat;}
    .hero_img{z-index: -2;display: none}
    .nav{
      .nav_options{
        .nav_option{@include font(9vw, $DarkGray);margin: 1rem 0rem;}}
      .nav_humb{display: block;width: 2rem;height: 1.5rem;z-index: 1;}
      .nav_logo{z-index: 2;width: 15rem;}}
    .title{top: 40vw;padding: 5vw;
      .title_h{@include font(12vw, $White)}}}
}
@media only screen and (max-width: 500px){
  header{max-height: 900px;
    .nav{
      .nav_options{
        .nav_option{margin: 1vw 0rem;}}
      .nav_logo{width: 60vw;}}}
}

main{
  @include display(column,center,center);
  width: 100%;
  padding:11.5vw;
  padding-bottom: 11.2vw;
  .leader{
    @include Setposition(relative, 0, 0);
    width: 100%;
    max-width: 1110px;
    .leader_art{
      @include Setposition(absolute, 36%, 51%);
      padding: 6rem 0rem 6rem 6rem;
      background-color: $White;
      width: 35rem;
      h2{
        @include Josefin();
        @include font(3rem, $Black);
      }
      p{
        @include Alata();
        @include font(.95rem, $DarkGray);
        width: 100%;
        line-height: 1.5rem;
        margin-top: 1.8rem
      }
    }
    .interactive_img{
      width: 45.5rem;
    }
  }
  .Creations{
    @include display(column, center, center);
    margin-top: 11rem;
    width: 100%;
    max-width: 1110px;
    .creations_art_header{
      @include display(flex, center, space-between);
      width: 100%;
      h2{
        @include Josefin();
        @include font(3rem, $Black);
      }
      button{
        @include Alata();
        @include font(1rem, $Black);
        padding: .5rem 2.5rem;
        text-align: center;
        border: 1px solid $Black;
        background-color: $White;
        letter-spacing: .2rem;
        border-radius: .1rem;
        transition: all .3s ease-in-out;
        &:hover{
          @include font(1rem, $White);
          background-color: $Black;
        }
      }
    }
    .creations_grid{
      display: grid;
      grid-gap: .5rem;
      justify-content: space-between;
      grid-template-columns: repeat(auto-fill, 16rem);
      margin-top: 5rem;
      width: 100%;
      .grid_item{
        @include Setposition(relative, 0, 0);
        margin-bottom: 1.2rem;
        width: 16rem;
        transition: all .2s ease-in-out;
        img{
          width: 100%;
          transition: all .2s ease-in-out;
        }
        h3{
          @include Josefin();
          @include font(2rem, $White);
          position: absolute;
          bottom: 2.4rem;
          width: 100%;
          padding: 0 2.5rem;
          transition: all .2s ease-in-out;
        }
        &:hover{
          img{
            filter: contrast(.2) brightness(1.5);
          }
          h3{
            @include font(2rem, $Black);
            z-index: 20000;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px){
  main{padding:10vw 5vw;padding-bottom: 10vw;
    .leader{width: 100%;
      .leader_art{@include Setposition(absolute, 35%, 40%);padding: 5vw;width: 55vw; // 35rem
        h2{@include font(2.8rem, $Black);}}
      .interactive_img{width: 61vw;}}
    .Creations{margin-top: 15vw;
      .creations_art_header{
        button{margin-top: -.9rem;}}
      .creations_grid{grid-gap: .5vw;grid-template-columns: repeat(auto-fill, 15rem);margin-top: 5vw;
        .grid_item{width: 15rem;}}}}
}
@media only screen and (max-width: 850px){
  main{
    .leader{@include display(column,center,center);
      .leader_art{@include Setposition(relative, 0%, 0%);padding: 5vw 0;width: 100%;@include display(column,center,center);
        h2{@include font(7vw, $Black);text-align: center}
        p{@include font(2.25vw, $DarkGray);width: 70vw;line-height: 4vw;margin-top: 2vw;text-align: center;}}
      .interactive_img{width: 90%;}}
    .Creations{margin-top: 5vw;
      .creations_art_header{
        h2{@include font(6vw, $Black);}
        button{margin-top: -1.5vw;@include font(2vw, $Black);padding: 1.2vw 5vw;letter-spacing: .5vw;
          &:hover{@include font(2vw, $White);}}}
      .creations_grid{grid-gap: .5vw;grid-template-columns: repeat(auto-fill, 15rem);margin-top: 8vw;
        .grid_item{margin-bottom: 1rem;width: 15rem;}}}}
}
@media only screen and (max-width: 808px){
  main{
    .Creations{
      .creations_grid{justify-content: space-around;grid-template-columns: repeat(2, 35vw);
        .grid_item{width: 35vw;
          h3{font-size: 4.5vw;}}}}}
}
@media only screen and (max-width: 700px){
  main{
    .leader{
      .leader_art{
        h2{@include font(8.5vw, $Black);}
        p{@include font(2.75vw, $DarkGray);width: 90vw;line-height: 5vw;margin-top: 2vw;}}
      .interactive_img{width: 100%;}}
    .Creations{position: relative;
      .creations_art_header{
        h2{width: 100%;text-align: center;@include font(8vw, $Black);}
        button{position: absolute;bottom: -8vw;margin-top: 0vw;@include font(1.5rem, $Black);padding: 0;width: 80vw;left: 5vw;height: 3rem;
          &:hover{@include font(1.5rem, $White);}}}
      .creations_grid{@include display(column, flex-start, flex-start);
        .grid_item{width: 100%;height: 40vw;background-position: center;background-size: cover;background-repeat: no-repeat;
          img{display: none;}
          h3{font-size: 5vw;}
          &:nth-child(1){background-image: url("/images/mobile/image-deep-earth.jpg");}
          &:nth-child(2){background-image: url("/images/mobile/image-night-arcade.jpg");}
          &:nth-child(3){background-image: url("/images/mobile/image-soccer-team.jpg");}
          &:nth-child(4){background-image: url("/images/mobile/image-grid.jpg");}
          &:nth-child(5){background-image: url("/images/mobile/image-from-above.jpg");}
          &:nth-child(6){background-image: url("/images/mobile/image-pocket-borealis.jpg");}
          &:nth-child(7){background-image: url("/images/mobile/image-curiosity.jpg");}
          &:nth-child(8){background-image: url("/images/mobile/image-fisheye.jpg");}
          &:hover{filter: unset;
            h3{@include font(5vw, $White);}}}}}}
}
@media only screen and (max-width: 450px){
  main{margin-bottom: 3rem;
    .leader{
      .leader_art{
        h2{@include font(9vw, $Black);}
        p{@include font(4vw, $DarkGray);line-height: 7vw;margin-top: 3vw;}}}
    .Creations{
      .creations_art_header{
        h2{@include font(9vw, $Black);}
        button{bottom: -4rem;@include font(5vw, $Black);width: 80vw;height: 10vw;
          &:hover{@include font(5vw, $White);}}}
      .creations_grid{@include display(column, flex-start, flex-start);
        .grid_item{width: 100%;height: 60vw;
          h3{bottom: 5vw;font-size: 7vw;padding: 0vw 5vw;}}}}}
}


footer{
  @include Setposition(relative,0,0);
  @include display(column,flex-start,flex-start);
  width: 100%;
  padding: 3vw 11.5vw;
  background-color: $Black;
  .media{
    @include display(row,flex-start,space-between);
    width: 100%;
    .media_logo{
      width: 9rem;
    }
    .social{
      @include display(row,center,flex-end);
      .social_icon{
        @include before();
        width: 1.6rem;
        height: 1.6rem;
        margin: 0 .45rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto auto;
        &:nth-child(1){
          background-image: url("/images/icon-facebook.svg");
        }
        &:nth-child(2){
          background-image: url("/images/icon-twitter.svg");
        }
        &:nth-child(3){
          background-image: url("/images/icon-pinterest.svg");
        }
        &:nth-child(4){
          background-image: url("/images/icon-instagram.svg");
          margin-right: 0;
        }
        &:hover{
          &::before{
            left: 0%;
            min-width: 100%;
          }
        }
      }
    }
  }
  .f_nav{
    @include display(row,flex-start,space-between);
    margin-top: 1.8rem;
    width: 100%;
    .f_nav_list{
      @include display(row,center,flex-start);
      .f_nav_item{
        @include Josefin();
        @include font(.9rem, $White);
        @include before();
        margin: 0 1.15rem;
        &:nth-child(1){
          margin-left: 0;
        }
        &:hover{
          &::before{
            left: 25%;
            min-width: 50%;
          }
        }
      }
    }
    .copyRight{
      @include Josefin();
      @include font(1rem, $DarkGray);
    }
  }
}

@media only screen and (max-width: 1200px){
  footer{padding: 5vw;}
}
@media only screen and (max-width: 750px){
  footer{padding-bottom: 5rem;
    .media{@include display(column,center,center);
      .media_logo{width: 12rem;}
      .social{position: absolute; bottom: 3rem;
        .social_icon{margin: 0 2rem;
          &:nth-child(4){margin-right: 2rem;}}}}
    .f_nav{@include display(column,center,space-between);margin-top: 2rem;margin-bottom: 2rem;
      .f_nav_list{@include display(row,center,flex-start);margin-bottom: 1.5rem;
        .f_nav_item{@include font(1.4rem, $White);margin: 0 1rem;}}
      .copyRight{@include font(1.1rem, $DarkGray);}}}
}
@media only screen and (max-width: 550px){
  footer{
    .media{
      .media_logo{width: 15rem;}
      .social{
        .social_icon{width: 2rem;height: 2rem;}}}
    .f_nav{
      .f_nav_list{@include display(column,center,flex-start);margin-bottom: 1.5rem;
        .f_nav_item{@include font(1.8rem, $White);margin: 0 0rem 1.5rem 0rem;}}}}
}
@media only screen and (max-width: 450px){
  footer{
    .media{
      .media_logo{width: 50vw;}
      .social{bottom: 18vw;
        .social_icon{margin: 0 4vw;width: 8vw;height: 8vw;
          &:nth-child(4){margin-right: 4vw;}}}}
    .f_nav{
      .f_nav_list{@include display(column,center,flex-start);margin-bottom: 3vw;
        .f_nav_item{@include font(6vw, $White);margin: 0 0rem 3vw 0rem;}}
      .copyRight{width: 100%;text-align: center;@include font(5vw, $DarkGray);}}}
}