@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-button {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 38px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
  background: #000000;
}

::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 7px;
}

::-webkit-scrollbar-track:hover {
  background: #666666;
}

::-webkit-scrollbar-track:active {
  background: #333333;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.atrribution_div {
  width: 100vw;
  position: fixed;
  bottom: 2vw;
  left: 10px;
  color: red;
  z-index: 2000000000000000;
}

.attribution {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  top: 0;
  left: 0;
  font-size: 15px;
  width: 100%;
  max-width: 1920px;
  overflow-x: hidden;
}

.design {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000000000000000000000000000;
  opacity: 0.6;
  display: none;
}

header {
  position: relative;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 40.5rem;
}

header .hero_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 1920px;
}

header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 4.5vw 11.5vw;
  max-width: 1800px;
}

header .nav .nav_logo {
  z-index: 2;
  width: 12rem;
}

header .nav .nav_options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 2;
}

header .nav .nav_options .nav_option {
  position: relative;
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: white;
  margin: 0 .9rem .9rem;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

header .nav .nav_options .nav_option::before {
  position: absolute;
  content: '';
  bottom: -45%;
  left: 50%;
  min-width: 0%;
  height: 3px;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  -webkit-transform-origin: right;
          transform-origin: right;
  border-radius: 9in;
  background-color: white;
}

header .nav .nav_options .nav_option:nth-child(5) {
  margin-right: 0;
}

header .nav .nav_options .nav_option:hover::before {
  left: 25%;
  min-width: 50%;
}

header .title {
  position: absolute;
  top: 14rem;
  left: 10.2rem;
  width: 40.9rem;
  height: 17.5rem;
  border: 3px solid white;
  padding: 2.4rem 2.5rem;
}

header .title .title_h {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 4.5rem;
  color: white;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 11.5vw;
  padding-bottom: 11.2vw;
}

main .leader {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1110px;
}

main .leader .leader_art {
  position: absolute;
  top: 36%;
  left: 51%;
  padding: 6rem 0rem 6rem 6rem;
  background-color: white;
  width: 35rem;
}

main .leader .leader_art h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 3rem;
  color: black;
}

main .leader .leader_art p {
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  font-size: 0.95rem;
  color: #8c8c8c;
  width: 100%;
  line-height: 1.5rem;
  margin-top: 1.8rem;
}

main .leader .interactive_img {
  width: 45.5rem;
}

main .Creations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 11rem;
  width: 100%;
  max-width: 1110px;
}

main .Creations .creations_art_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: flex;
          flex-direction: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

main .Creations .creations_art_header h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 3rem;
  color: black;
}

main .Creations .creations_art_header button {
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: black;
  padding: .5rem 2.5rem;
  text-align: center;
  border: 1px solid black;
  background-color: white;
  letter-spacing: .2rem;
  border-radius: .1rem;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

main .Creations .creations_art_header button:hover {
  font-size: 1rem;
  color: white;
  background-color: black;
}

main .Creations .creations_grid {
  display: -ms-grid;
  display: grid;
  grid-gap: .5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: (16rem)[auto-fill];
      grid-template-columns: repeat(auto-fill, 16rem);
  margin-top: 5rem;
  width: 100%;
}

main .Creations .creations_grid .grid_item {
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 1.2rem;
  width: 16rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

main .Creations .creations_grid .grid_item img {
  width: 100%;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

main .Creations .creations_grid .grid_item h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: white;
  position: absolute;
  bottom: 2.4rem;
  width: 100%;
  padding: 0 2.5rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

main .Creations .creations_grid .grid_item:hover img {
  -webkit-filter: contrast(0.2) brightness(1.5);
          filter: contrast(0.2) brightness(1.5);
}

main .Creations .creations_grid .grid_item:hover h3 {
  font-size: 2rem;
  color: black;
  z-index: 20000;
}

footer {
  position: relative;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  padding: 3vw 11.5vw;
  background-color: black;
}

footer .media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

footer .media .media_logo {
  width: 9rem;
}

footer .media .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .media .social .social_icon {
  position: relative;
  width: 1.6rem;
  height: 1.6rem;
  margin: 0 .45rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto auto;
}

footer .media .social .social_icon::before {
  position: absolute;
  content: '';
  bottom: -45%;
  left: 50%;
  min-width: 0%;
  height: 3px;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  -webkit-transform-origin: right;
          transform-origin: right;
  border-radius: 9in;
  background-color: white;
}

footer .media .social .social_icon:nth-child(1) {
  background-image: url("/images/icon-facebook.svg");
}

footer .media .social .social_icon:nth-child(2) {
  background-image: url("/images/icon-twitter.svg");
}

footer .media .social .social_icon:nth-child(3) {
  background-image: url("/images/icon-pinterest.svg");
}

footer .media .social .social_icon:nth-child(4) {
  background-image: url("/images/icon-instagram.svg");
  margin-right: 0;
}

footer .media .social .social_icon:hover::before {
  left: 0%;
  min-width: 100%;
}

footer .f_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.8rem;
  width: 100%;
}

footer .f_nav .f_nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer .f_nav .f_nav_list .f_nav_item {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  color: white;
  position: relative;
  margin: 0 1.15rem;
}

footer .f_nav .f_nav_list .f_nav_item::before {
  position: absolute;
  content: '';
  bottom: -45%;
  left: 50%;
  min-width: 0%;
  height: 3px;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  -webkit-transform-origin: right;
          transform-origin: right;
  border-radius: 9in;
  background-color: white;
}

footer .f_nav .f_nav_list .f_nav_item:nth-child(1) {
  margin-left: 0;
}

footer .f_nav .f_nav_list .f_nav_item:hover::before {
  left: 25%;
  min-width: 50%;
}

footer .f_nav .copyRight {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #8c8c8c;
}
/*# sourceMappingURL=style.css.map */