@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-button {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 38px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #000000;
  }
  ::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 7px;
  }
  ::-webkit-scrollbar-track:hover {
    background: #666666;
  }
  ::-webkit-scrollbar-track:active {
    background: #333333;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
//

$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
$DarkGray: hsl(0, 0%, 55%);
$VeryDarkGray: hsl(0, 0%, 41%);

//

@mixin Setposition($p,$ys,$xs) {
  position: $p;
  top : $ys;
  left : $xs;
}

@mixin display($d,$a,$j){
  display: flex;
  flex-direction: $d;
  align-items: $a;
  justify-content: $j;
}

@mixin Alata {
  font-family: 'Alata', sans-serif;
  font-weight: 400;
}

@mixin  Josefin {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

@mixin  font($s,$c) {
  font-size: $s;
  color : $c;
}

@mixin before {
  position: relative;
  &::before{
    position: absolute;
    content: '';
    bottom: -45%;
    left: 50%;
    min-width: 0%;
    height: 3px;
    transition: .3s all ease-in-out;
    transform-origin: right;
    border-radius: 9in;
    background-color: $White;
  }
}


// 

.atrribution_div{width: 100vw; position: fixed; bottom: 2vw; left : 10px; color: red;z-index: 2000000000000000;}
.attribution { font-size: 1rem;font-weight: bold; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

// 

*{
  box-sizing: border-box;
  margin: 0; padding: 0;
}
body{
  @include Setposition(relative,0,0);
  font-size: 15px;
  width: 100%;
  max-width: 1920px;
  overflow-x: hidden
}

// 

.design{
  @include Setposition(absolute, 0, 0);
  z-index: 2000000000000000000000000000;
  opacity: 0.6;
  display: none;
}

// 

header{
  @include Setposition(relative, 0, 0);
  @include display(column, center, flex-start);
  width: 100%;
  height: 40.5rem;
  .hero_img{
    @include Setposition(absolute, 0, 0);
    width: 100%;
    height: 100%;
    max-width: 1920px;
  }
  .nav{
    @include display(row, center, space-between);
    width: 100%;
    padding: 4.5vw 11.5vw;
    max-width: 1800px;
    .nav_logo{
      z-index: 2;
      width: 12rem;
    }
    .nav_options{
      @include display(row, center, flex-end);
      z-index: 2;
      .nav_option{
        @include before();
        @include Alata();
        @include font(1rem, $White);
        margin: 0 .9rem .9rem;
        transition: .3s all ease-in-out;
        &:nth-child(5){
          margin-right: 0;
        }
        &:hover{
          &::before{
            left: 25%;
            min-width: 50%;
          }
        }
      }
    }
  }
  .title{
    @include Setposition(absolute,  14rem,  10.2rem);
    width: 40.9rem;
    height: 17.5rem;
    border: 3px solid $White;
    padding: 2.4rem 2.5rem;
    .title_h{
      @include Josefin();
      @include font(4.5rem, $White)
    }
  }
}

main{
  @include display(column,center,center);
  width: 100%;
  padding:11.5vw;
  padding-bottom: 11.2vw;
  .leader{
    @include Setposition(relative, 0, 0);
    width: 100%;
    max-width: 1110px;
    .leader_art{
      @include Setposition(absolute, 36%, 51%);
      padding: 6rem 0rem 6rem 6rem;
      background-color: $White;
      width: 35rem;
      h2{
        @include Josefin();
        @include font(3rem, $Black);
      }
      p{
        @include Alata();
        @include font(.95rem, $DarkGray);
        width: 100%;
        line-height: 1.5rem;
        margin-top: 1.8rem
      }
    }
    .interactive_img{
      width: 45.5rem;
    }
  }
  .Creations{
    @include display(column, center, center);
    margin-top: 11rem;
    width: 100%;
    max-width: 1110px;
    .creations_art_header{
      @include display(flex, center, space-between);
      width: 100%;
      h2{
        @include Josefin();
        @include font(3rem, $Black);
      }
      button{
        @include Alata();
        @include font(1rem, $Black);
        padding: .5rem 2.5rem;
        text-align: center;
        border: 1px solid $Black;
        background-color: $White;
        letter-spacing: .2rem;
        border-radius: .1rem;
        transition: all .3s ease-in-out;
        &:hover{
          @include font(1rem, $White);
          background-color: $Black;
        }
      }
    }
    .creations_grid{
      display: grid;
      grid-gap: .5rem;
      justify-content: space-between;
      grid-template-columns: repeat(auto-fill, 16rem);
      margin-top: 5rem;
      width: 100%;
      .grid_item{
        @include Setposition(relative, 0, 0);
        margin-bottom: 1.2rem;
        width: 16rem;
        transition: all .2s ease-in-out;
        img{
          width: 100%;
          transition: all .2s ease-in-out;
        }
        h3{
          @include Josefin();
          @include font(2rem, $White);
          position: absolute;
          bottom: 2.4rem;
          width: 100%;
          padding: 0 2.5rem;
          transition: all .2s ease-in-out;
        }
        &:hover{
          img{
            filter: contrast(.2) brightness(1.5);
          }
          h3{
            @include font(2rem, $Black);
            z-index: 20000;
          }
        }
      }
    }
  }
}

footer{
  @include Setposition(relative,0,0);
  @include display(column,flex-start,flex-start);
  width: 100%;
  padding: 3vw 11.5vw;
  background-color: $Black;
  .media{
    @include display(row,flex-start,space-between);
    width: 100%;
    .media_logo{
      width: 9rem;
    }
    .social{
      @include display(row,center,flex-end);
      .social_icon{
        @include before();
        width: 1.6rem;
        height: 1.6rem;
        margin: 0 .45rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto auto;
        &:nth-child(1){
          background-image: url("/images/icon-facebook.svg");
        }
        &:nth-child(2){
          background-image: url("/images/icon-twitter.svg");
        }
        &:nth-child(3){
          background-image: url("/images/icon-pinterest.svg");
        }
        &:nth-child(4){
          background-image: url("/images/icon-instagram.svg");
          margin-right: 0;
        }
        &:hover{
          &::before{
            left: 0%;
            min-width: 100%;
          }
        }
      }
    }
  }
  .f_nav{
    @include display(row,flex-start,space-between);
    margin-top: 1.8rem;
    width: 100%;
    .f_nav_list{
      @include display(row,center,flex-start);
      .f_nav_item{
        @include Josefin();
        @include font(.9rem, $White);
        @include before();
        margin: 0 1.15rem;
        &:nth-child(1){
          margin-left: 0;
        }
        &:hover{
          &::before{
            left: 25%;
            min-width: 50%;
          }
        }
      }
    }
    .copyRight{
      @include Josefin();
      @include font(1rem, $DarkGray);
    }
  }
}